@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.isi {
    background-color: #0f0a0a;
    color: #efefef;
    font-family:'Inter', sans-serif;
    font-size: 16px;
    line-height: 150%;
}
.warp {
    max-width: 640px;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    padding-top: 0px;
}
img {
    width: 100%;
}
a { 
    color: #efefef;
    text-decoration: none;
}
a:visited {
    color: #efefef;
}
a:hover {
    color: #c2a3a3;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td {
  text-align: center;
  width: 25%;
  vertical-align: top;
}
.judul {
  text-align: center;
}
.tebal{
  font-weight: bold;
}
.karakter{
  max-width: 120px;
  border-radius: 25px;
  margin: 20px;
  transition: transform .25s;
}
.karakter.ef{
  width: 120px;
  height: 120px;
  background-color: #96bcc1;
  filter: drop-shadow(0 0 0.75rem #96bcc1);
}
.karakter.nj{
  width: 120px;
  height: 120px;
  background-color: #da758d;
  filter: drop-shadow(0 0 0.75rem #da758d);
}
.karakter.hl{
  width: 120px;
  height: 120px;
  background-color: #fff29e;
  filter: drop-shadow(0 0 0.75rem #fff29e);
}
.karakter.sr{
  width: 120px;
  height: 120px;
  object-fit: cover;
  background-color: #4f7475;
  filter: drop-shadow(0 0 0.75rem #4f7475);
}
.karakter.zzz{
  width: 120px;
  height: 120px;
  background-color: #cbd6e2;
  filter: drop-shadow(0 0 0.75rem #cbd6e2);
}
.karakter.ex{
  width: 120px;
  height: 120px;
  background-color: #621513;
  filter: drop-shadow(0 0 0.75rem #621513);
}
.karakter.gkm{
  width: 120px;
  height: 120px;
  background-color: #fad454;
  filter: drop-shadow(0 0 0.75rem #fad454);
}
.karakter.bd{
  width: 120px;
  height: 120px;
  background-color: #ecb4bc;
  filter: drop-shadow(0 0 0.75rem #ecb4bc);
}
.karakter:hover{
  background-color: #c2a3a3;
  filter: drop-shadow(0 0 0.75rem #c2a3a3);
  transform: scale(1.05);
}
.source-code{
font-size: 0.8em;
}